{# beta #}
<div id="modal">
    {% if isGrantedE() %}
        <!-- modal for representatives -->
        <div id="modalContent" class="modalRepresentatives">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Exprimez votre point de vue!</b><br><br>
                POLITIZR propose un espace de démocratie continue: exprimez-vous sur des sujets de politique locale ou nationale et faites part de votre expérience d'élu.e!<br><br>
                <a href="{{ path('DebateDraftNew') }}" class="newSubject"><i class="icon-plane"></i><span>Je m'exprime</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for representatives -->
    {% else %}
        <!-- modal for citizen -->
        <div id="modalContent" class="modalCitizen">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Devenez acteur de votre territoire!</b><br><br>
                POLITIZR propose un espace de démocratie continue: exprimez-vous sur des sujets de politique locale ou nationale et faites réagir vos concitoyen.ne.s et vos élu.e.s !<br><br>
                <a href="{{ path('DebateDraftNew') }}" class="newSubject"><i class="icon-plane"></i><span>Je m'exprime</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for citizen -->
    {% endif %}

    <div id="modalBg" action="closeModal"></div>
</div>