<div class="grpCard">
    <div class="grpGlobalIntro">
        {{ circle.description | raw }}
        <div class="grpTwitterFeed">
            <div class="grpTwitterLogo">
                <i class="icon-social-tw"></i><br>
                Profil<br>
                <span>@ariegeledpt</span>
            </div>
            <a class="twitter-timeline" data-width="180" data-height="700" href="https://twitter.com/ariegeledpt?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>            
    <div class="grpIHaveAQuestionFullWidth">
        {% include 'PolitizrFrontBundle:Circle\\cd09dob:_question.html.twig' %}
    </div>
    <div id="grpDescription" class="grpChapterTHD09">
        <h1>Posez vos questions directement aux élus</h1>
        <p>
            Les Rencontres de l’Ariège 2018 sont ouvertes à toutes et à tous, selon les modalités suivantes:<br/><br/>
        </p>
        <p>
        <b>Arize-Lèze</b>: au Fossat (salle multimédia) le <b>mardi 27 novembre</b>, à 18 heures<br/>
        <b>Couserans</b>: à Saint-Girons (salle Max-Linder), le <b>mercredi 28 novembre</b>, à 18 heures<br/>
        <b>Foix et Val d’Ariège</b>: à Varilhes (salle du Centre de l’histoire de la Résistance et de la Déportation), le <b>jeudi 29 novembre</b>, à 18 heures<br/>
        <b>Portes d’Ariège</b>: à Pamiers (salle de la Maison des Associations), le <b>lundi 3 décembre</b>, à 18 heures<br/>
        <b>Mirepoix et Pays d’Olmes</b>: à Mirepoix (salle Paul-Dardier), le <b>mardi 4 décembre</b>, à 18 heures<br/>
        <b>Haute Ariège</b>: à Tarascon sur Ariège (espace François-Mitterrand), le <b>mercredi 5 décembre</b>, à 18 heures<br/>
        </p>
    </div>
    <div class="grpIHaveAQuestionFullWidth">
        {% include 'PolitizrFrontBundle:Circle\\cd09dob:_question.html.twig' %}
    </div>
</div>
