{% if not circle.readOnly %}
    <div class="grpIHaveAQuestion">
        <h2>Proposition, avis, remarque, ou opinion...</h2>
        <p>Exprimez vous pour donner votre avis sur la suite à donner à notre grand débat.</p>
        <a href="{{ path('DebateDraftNew', { topic: topic.uuid }) }}">Je m'exprime!</a>
    </div>
{% endif %}
