<div id="editionHeader" class="{% if app.user.qualified %}representativeEdit{% else %}citizenEdit{% endif %}">
    <div class="center">
        <div class="editionHeaderText">
            {% if app.user.qualified %}
                <p>
                    Vous souhaitez partager votre action avec vos concitoyen.ne.s?<br/>
                    Vous voulez encourager une initiative?<br/>
                    Vous vous posez une question sur un dossier technique?<br/>
                </p>
                <p class="noteEditionHeader"><i class="icon-info"></i>Rédigez votre texte ici et spécifiez le zonage géographique au moment de la publication pour toucher vos concitoyen.ne.s et d'autres élu.e.s!</p>
            {% else %}
                <p>
                    Vous souhaitez partager vos opinions?<br/>
                    Un sujet vous tient particulièrement à coeur?<br/>
                    Vous voulez encourager une initiative?<br/>
                    Vous avez des questions à poser à vos élu.e.s locaux?<br/>
                </p>
                {#<p class="noteEditionHeader"><i class="icon-info"></i>Rédigez votre texte ici et spécifiez le zonage géographique au moment de la publication pour toucher vos concitoyen.ne.s et vos élu.e.s!</p>#}
                <p class="noteEditionHeader"><i class="icon-info"></i><b>Note: pour publier dans le cadre du <u><a href="{{ path('CircleDetail', {'slug': 'le-grand-debat-national'}) }}">Grand Débat</a></u>, merci de naviguer d'abord dans la <u><a href="{{ path('CircleDetail', {'slug': 'le-grand-debat-national'}) }}">thématique choisie</a></u> avant de cliquer sur "Je m'exprime".</b></p>
            {% endif %}
        </div>
    </div>
    <div class="bgLeftEditionHeader"></div>
    <div class="bgRightEditionHeader"></div>
</div>
