<div id="topic" class="bannerItem miniHeader">
    <div class="center">
        <div class="txtTopic">
            <div class="txtTopic">
                <i class="icon-grp"></i>{{ owner.title }}
                {# specific label for CD09THD #}
                {% if (circle.id == constant('Politizr\\Constant\\CircleConstants::CD09THD_ID_CIRCLE')) %}
                    <span>Rédigez ici vos opinions ou questions à propos du <b>Plan Ariège THD</b>.</span>
                {% elseif (circle.id == constant('Politizr\\Constant\\CircleConstants::CD09DOB_ID_CIRCLE')) %}
                    <span>Rédigez ici vos opinions ou questions à propos du <b>Débat d'Orientation Budgétaire</b>.</span>
                {% else %}
                    <span>Rédigez ici vos opinions ou questions sur le sujet de <b>"{{ topic.title }}"</b>.</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="bgLeftTopic"></div>
    <div class="bgRightTopic"></div>
</div>
