<div class="grpChapterStat">
    <a href="{{ path('TopicDetail', { 'circleSlug': circle.slug, 'slug': topic.slug }) }}"><i class="icon-plane"></i>{{ nbDebates }} sujets</a>
    <a href="{{ path('TopicDetail', { 'circleSlug': circle.slug, 'slug': topic.slug }) }}"><i class="icon-comment-full"></i>{{ nbComments }} commentaires</a>
</div>