<div class="grpCard">
    <div class="grpGlobalIntro">
        {{ circle.description | raw }}
    </div>
    <div class="grpIHaveAQuestionFullWidth">
        {% include 'PolitizrFrontBundle:Circle\\mondedapres:_question.html.twig' %}
    </div>            
</div>
