<div class="grpCard">
    <div class="grpGlobalIntro">
        <div class="grpVideo">
            <video controls poster="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/poster.jpg') }}">
              <source src="{{ asset('uploads/CD09THD.mp4') }}" type="video/mp4">
              Votre navigateur ne supporte pas ce format de vidéo.
            </video>
        </div>
        {{ circle.description | raw }}
        <div class="grpTwitterFeed">
            <div class="grpTwitterLogo">
                <i class="icon-social-tw"></i><br>
                Profil<br>
                <span>@ariegeledpt</span>
            </div>
            <a class="twitter-timeline" data-width="180" data-height="700" href="https://twitter.com/ariegeledpt?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="grpIHaveAQuestionFullWidth">
        {% include 'PolitizrFrontBundle:Circle\\cd09thd:_question.html.twig' %}
    </div>
    <div class="grpChapterTHD09">
        <h1>Le déploiement du Très haut débit en Ariège</h1>
        <h2>Le plan France Très haut débit mobilise l’ensemble des acteurs du secteur, privés et publics, pour le déploiement des réseaux très haut débit sur l’ensemble du territoire.</h2>
        <div class="grpChapterTHD09Argu">
            <div class="grpChapterTHD09ArguCol">
                <h3>En territoire urbain</h3>
                <span>23% de la population ariégeoise concernée</span>
                <p>Les opérateurs privés déploient des réseaux de FTTH* sur les zones très denses et moyennement denses (Foix, Pamiers et son agglomération). C’est l’opérateur Orange qui assure ce déploiement dans le cadre de conventions de programmation et de suivi des déploiements (Cpsd) dites "conventions AMII".</p>
            </div>
            <div class="grpChapterTHD09ArguCol">
                <h3>En territoire rural</h3>
                <span>77% de la population ariégeoise concernée</span>
                <p>Les collectivités déploient, avec la contribution de l’État, des réseaux FTTH* gérés par des opérateurs dans le cadre de la délégation de service public Ariège Très Haut Débit.</p>
                <div class="ftth">*FttH : Fiber to the Home - fibre jusqu’au domicile</div>
            </div>
        </div>
    </div>
    
    <div id="grpDescription">
        <h1>Calendrier prévisionnel FTTH par communes</h1>
        <h2>Arize-Lèze <span action="showGrpTable" class="linkShowGrpTable">Afficher</span><span action="hideGrpTable" class="linkHideGrpTable">Masquer</span></h2>
        {% include 'PolitizrFrontBundle:Circle\\cd09thd:_tableArizeLeze.html.twig' %}
        <h2>Couserans Est, Foix et Val d'Ariège <span action="showGrpTable" class="linkShowGrpTable">Afficher</span><span action="hideGrpTable" class="linkHideGrpTable">Masquer</span></h2>
        {% include 'PolitizrFrontBundle:Circle\\cd09thd:_tableCouseransFoixValAriege.html.twig' %}
        <h2>Pays de Mirepoix <span action="showGrpTable" class="linkShowGrpTable">Afficher</span><span action="hideGrpTable" class="linkHideGrpTable">Masquer</span></h2>
        {% include 'PolitizrFrontBundle:Circle\\cd09thd:_tableMirepoix.html.twig' %}
        <h2>Pays d'Olmes <span action="showGrpTable" class="linkShowGrpTable">Afficher</span><span action="hideGrpTable" class="linkHideGrpTable">Masquer</span></h2>
        {% include 'PolitizrFrontBundle:Circle\\cd09thd:_tableOlmes.html.twig' %}
        <h2>Portes d'Ariège et Pamiers <span action="showGrpTable" class="linkShowGrpTable">Afficher</span><span action="hideGrpTable" class="linkHideGrpTable">Masquer</span></h2>
        {% include 'PolitizrFrontBundle:Circle\\cd09thd:_tablePamiers.html.twig' %}
    </div>

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/politizr/circle/cd09thd.js') }}"></script>
            
    <div class="grpIHaveAQuestionFullWidth">
        {% include 'PolitizrFrontBundle:Circle\\cd09thd:_question.html.twig' %}
    </div>
</div>
