<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableLargeCel">Travaux à partir de</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Alliat</div>
        <div class="grpTableCel grpTableSmallCel">57</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Arignac</div>
        <div class="grpTableCel grpTableSmallCel">444</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Arnave</div>
        <div class="grpTableCel grpTableSmallCel">155</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bédheilhac et Aynat</div>
        <div class="grpTableCel grpTableSmallCel">171</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bompas</div>
        <div class="grpTableCel grpTableSmallCel">164</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Capoulet et Junac</div>
        <div class="grpTableCel grpTableSmallCel">183</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cazenave, Serres et Allens</div>
        <div class="grpTableCel grpTableSmallCel">102</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Génat</div>
        <div class="grpTableCel grpTableSmallCel">46</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Gourbit</div>
        <div class="grpTableCel grpTableSmallCel">181</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lapège</div>
        <div class="grpTableCel grpTableSmallCel">71</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mercus-Garrabet</div>
        <div class="grpTableCel grpTableSmallCel">724</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Miglos</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">7</div><div class="grpTableSplitCel">220</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2021-2023</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel"></div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Niaux</div>
        <div class="grpTableCel grpTableSmallCel">169</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ornolac-Ussat-les-Bains</div>
        <div class="grpTableCel grpTableSmallCel">234</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Quié</div>
        <div class="grpTableCel grpTableSmallCel">209</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Rabat-les-Trois-Seigneurs</div>
        <div class="grpTableCel grpTableSmallCel">430</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saurat</div>
        <div class="grpTableCel grpTableSmallCel">924</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Surba</div>
        <div class="grpTableCel grpTableSmallCel">242</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Tarascon-sur-Ariège</div>
        <div class="grpTableCel grpTableSmallCel">2404</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ussat</div>
        <div class="grpTableCel grpTableSmallCel">237</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
</div>
