<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableLargeCel">Travaux à partir de</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Albies</div>
        <div class="grpTableCel grpTableSmallCel">136</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Appy</div>
        <div class="grpTableCel grpTableSmallCel">36</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Artigues</div>
        <div class="grpTableCel grpTableSmallCel">108</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ascou</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">221</div><div class="grpTableSplitCel">21</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2021-2023</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel"></div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Aston</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">274</div><div class="grpTableSplitCel">5</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2021-2023</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel"></div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Aulos</div>
        <div class="grpTableCel grpTableSmallCel">52</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Auzat</div>
        <div class="grpTableCel grpTableSmallCel">840</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Axiat</div>
        <div class="grpTableCel grpTableSmallCel">37</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ax-les-Thermes</div>
        <div class="grpTableCel grpTableSmallCel">3406</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bestiac</div>
        <div class="grpTableCel grpTableSmallCel">27</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bouan</div>
        <div class="grpTableCel grpTableSmallCel">42</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Carcanières</div>
        <div class="grpTableCel grpTableSmallCel">129</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Caussou</div>
        <div class="grpTableCel grpTableSmallCel">98</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Caychax</div>
        <div class="grpTableCel grpTableSmallCel">27</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Château-Verdun</div>
        <div class="grpTableCel grpTableSmallCel">83</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Garanou</div>
        <div class="grpTableCel grpTableSmallCel">124</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Gestiès</div>
        <div class="grpTableCel grpTableSmallCel">92</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Goulier</div>
        <div class="grpTableCel grpTableSmallCel">208</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ignaux</div>
        <div class="grpTableCel grpTableSmallCel">151</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Illier-et-Lamarade</div>
        <div class="grpTableCel grpTableSmallCel">84</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Larcat</div>
        <div class="grpTableCel grpTableSmallCel">94</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Larnat</div>
        <div class="grpTableCel grpTableSmallCel">41</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lassur</div>
        <div class="grpTableCel grpTableSmallCel">72</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Le Pla</div>
        <div class="grpTableCel grpTableSmallCel">166</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Le Puch</div>
        <div class="grpTableCel grpTableSmallCel">67</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lercoul</div>
        <div class="grpTableCel grpTableSmallCel">74</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Les Cabannes</div>
        <div class="grpTableCel grpTableSmallCel">472</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">L'Hospitalet-près-l'Andorre</div>
        <div class="grpTableCel grpTableSmallCel">125</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lordat</div>
        <div class="grpTableCel grpTableSmallCel">62</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Luzenac</div>
        <div class="grpTableCel grpTableSmallCel">473</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mérens-les-Vals</div>
        <div class="grpTableCel grpTableSmallCel">254</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mijanès</div>
        <div class="grpTableCel grpTableSmallCel">163</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montaillou</div>
        <div class="grpTableCel grpTableSmallCel">88</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Orgeix</div>
        <div class="grpTableCel grpTableSmallCel">127</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Orlu</div>
        <div class="grpTableCel grpTableSmallCel">201</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Orus</div>
        <div class="grpTableCel grpTableSmallCel">47</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Pech</div>
        <div class="grpTableCel grpTableSmallCel">52</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Perles-et-Castelet</div>
        <div class="grpTableCel grpTableSmallCel">213</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Prades</div>
        <div class="grpTableCel grpTableSmallCel">171</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Quérigut</div>
        <div class="grpTableCel grpTableSmallCel">347</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Rouze</div>
        <div class="grpTableCel grpTableSmallCel">183</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Savignac-les-Ormeaux</div>
        <div class="grpTableCel grpTableSmallCel">410</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sem</div>
        <div class="grpTableCel grpTableSmallCel">93</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Senconac</div>
        <div class="grpTableCel grpTableSmallCel">24</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Siguer</div>
        <div class="grpTableCel grpTableSmallCel">227</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sinsat</div>
        <div class="grpTableCel grpTableSmallCel">87</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sorgeat</div>
        <div class="grpTableCel grpTableSmallCel">163</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Suc-et-Sentenac</div>
        <div class="grpTableCel grpTableSmallCel">275</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Tignac</div>
        <div class="grpTableCel grpTableSmallCel">44</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Unac</div>
        <div class="grpTableCel grpTableSmallCel">122</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Urs</div>
        <div class="grpTableCel grpTableSmallCel">49</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Vaychis</div>
        <div class="grpTableCel grpTableSmallCel">63</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Vèbre</div>
        <div class="grpTableCel grpTableSmallCel">144</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Verdun</div>
        <div class="grpTableCel grpTableSmallCel">230</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Vernaux</div>
        <div class="grpTableCel grpTableSmallCel">42</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Vicdessos</div>
        <div class="grpTableCel grpTableSmallCel">576</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel">&nbsp;</div>
    </div>
</div>
