<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableLargeCel">Travaux à partir de</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Antras</div>
        <div class="grpTableCel grpTableSmallCel">101</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Argein</div>
        <div class="grpTableCel grpTableSmallCel">201</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Arrien-en-Bethmale</div>
        <div class="grpTableCel grpTableSmallCel">197</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Arrout</div>
        <div class="grpTableCel grpTableSmallCel">74</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Aucazein</div>
        <div class="grpTableCel grpTableSmallCel">88</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Audressein</div>
        <div class="grpTableCel grpTableSmallCel">155</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Augirein</div>
        <div class="grpTableCel grpTableSmallCel">115</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bagert</div>
        <div class="grpTableCel grpTableSmallCel">47</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Balacet</div>
        <div class="grpTableCel grpTableSmallCel">39</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Balaguères</div>
        <div class="grpTableCel grpTableSmallCel">238</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Barjac</div>
        <div class="grpTableCel grpTableSmallCel">31</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bédeille</div>
        <div class="grpTableCel grpTableSmallCel">66</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Betchat</div>
        <div class="grpTableCel grpTableSmallCel">266</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bethmale</div>
        <div class="grpTableCel grpTableSmallCel">202</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bonac-Irazein</div>
        <div class="grpTableCel grpTableSmallCel">258</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bordes-Uchentein</div>
        <div class="grpTableCel grpTableSmallCel">392</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Buzan</div>
        <div class="grpTableCel grpTableSmallCel">68</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Castillon-en-Couserans</div>
        <div class="grpTableCel grpTableSmallCel">511</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Caumont</div>
        <div class="grpTableCel grpTableSmallCel">187</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cazavet</div>
        <div class="grpTableCel grpTableSmallCel">155</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cérizols</div>
        <div class="grpTableCel grpTableSmallCel">100</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cescau</div>
        <div class="grpTableCel grpTableSmallCel">136</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Contrazy</div>
        <div class="grpTableCel grpTableSmallCel">55</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Engomer</div>
        <div class="grpTableCel grpTableSmallCel">277</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Eycheil</div>
        <div class="grpTableCel grpTableSmallCel">313</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Fabas</div>
        <div class="grpTableCel grpTableSmallCel">197</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Gajan</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">5</div><div class="grpTableSplitCel">169</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">&nbsp;</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Galey</div>
        <div class="grpTableCel grpTableSmallCel">192</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Illartein</div>
        <div class="grpTableCel grpTableSmallCel">94</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">La Bastide-du-Salat</div>
        <div class="grpTableCel grpTableSmallCel">135</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lacave</div>
        <div class="grpTableCel grpTableSmallCel">103</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lasserre</div>
        <div class="grpTableCel grpTableSmallCel">160</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lorp-Sentaraille</div>
        <div class="grpTableCel grpTableSmallCel">789</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mauvezin-de-Prat</div>
        <div class="grpTableCel grpTableSmallCel">49</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mauvezin-de-Sainte-Croix</div>
        <div class="grpTableCel grpTableSmallCel">32</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mercenac</div>
        <div class="grpTableCel grpTableSmallCel">209</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mérigon</div>
        <div class="grpTableCel grpTableSmallCel">76</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montardit</div>
        <div class="grpTableCel grpTableSmallCel">148</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montégut-en-Couserans</div>
        <div class="grpTableCel grpTableSmallCel">34</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montesquieu-Avantès</div>
        <div class="grpTableCel grpTableSmallCel">135</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montgauch</div>
        <div class="grpTableCel grpTableSmallCel">87</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montjoie-en-Couserans</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">519</div><div class="grpTableSplitCel">130</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2018 S2</div><div class="grpTableSplitCel">2020 T3</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019 T2</div><div class="grpTableSplitCel">2020 T4</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Moulis</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">626</div><div class="grpTableSplitCel">31</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2018</div><div class="grpTableSplitCel">2020 T2</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">2020 T3</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Orgibet</div>
        <div class="grpTableCel grpTableSmallCel">217</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Prat-Bonrepaux</div>
        <div class="grpTableCel grpTableSmallCel">599</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sainte Croix Volvestre</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">33</div><div class="grpTableSplitCel">481</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2020</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">&nbsp;</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Girons</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">5313</div><div class="grpTableSplitCel">19</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019 T3</div><div class="grpTableSplitCel">2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019 T4 à 2020 T4</div><div class="grpTableSplitCel">2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Jean-du-Castillonnais</div>
        <div class="grpTableCel grpTableSmallCel">64</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Lary</div>
        <div class="grpTableCel grpTableSmallCel">355</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Lizier</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">239</div><div class="grpTableSplitCel">380</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019 T4</div><div class="grpTableSplitCel">2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020 T1</div><div class="grpTableSplitCel">2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Lizier (suite)</div>
        <div class="grpTableCel grpTableSmallCel">224</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Salsein</div>
        <div class="grpTableCel grpTableSmallCel">61</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sentein</div>
        <div class="grpTableCel grpTableSmallCel">374</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sor</div>
        <div class="grpTableCel grpTableSmallCel">20</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Taurignan-Castet</div>
        <div class="grpTableCel grpTableSmallCel">126</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Taurignan-Vieux</div>
        <div class="grpTableCel grpTableSmallCel">131</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Tourtouse</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">19</div><div class="grpTableSplitCel">118</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">&nbsp;</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Villeneuve</div>
        <div class="grpTableCel grpTableSmallCel">61</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
</div>
