<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableSmallCel">Maître d'ouvrage</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">L'Aiguillon</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">260</div><div class="grpTableSplitCel">19</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">T3 2020</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">T4 2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bélesta</div>
        <div class="grpTableCel grpTableSmallCel">929</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bénaix</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">92</div><div class="grpTableSplitCel">9</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">Juin 2018</div><div class="grpTableSplitCel">T3 2020</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T3 2020</div><div class="grpTableSplitCel">T4 2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Carla-de-Roquefort</div>
        <div class="grpTableCel grpTableSmallCel">107</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Dreuilhe</div>
        <div class="grpTableCel grpTableSmallCel">182</div>
        <div class="grpTableCel grpTableLargeCel">T4 2019</div>
        <div class="grpTableCel grpTableLargeCel">T2 2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Fougax-et-Barrineuf</div>
        <div class="grpTableCel grpTableSmallCel">421</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Freychenet</div>
        <div class="grpTableCel grpTableSmallCel">125</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ilhat</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">87</div><div class="grpTableSplitCel">19</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">T3 2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">T4 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lavelanet</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">4302</div><div class="grpTableSplitCel">6</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2019</div><div class="grpTableSplitCel">T3 2019-T3 2020</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lesparrou</div>
        <div class="grpTableCel grpTableSmallCel">217</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Leychert</div>
        <div class="grpTableCel grpTableSmallCel">76</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2019</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lieurac</div>
        <div class="grpTableCel grpTableSmallCel">104</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montferrier</div>
        <div class="grpTableCel grpTableSmallCel">461</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montésgur</div>
        <div class="grpTableCel grpTableSmallCel">172</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Nalzen</div>
        <div class="grpTableCel grpTableSmallCel">98</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Péreille</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">15</div><div class="grpTableSplitCel">89</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">T3 2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">T4 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Raissac</div>
        <div class="grpTableCel grpTableSmallCel">22</div>
        <div class="grpTableCel grpTableLargeCel">T3 2019</div>
        <div class="grpTableCel grpTableLargeCel">T4 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Roquefixade</div>
        <div class="grpTableCel grpTableSmallCel">125</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Roquefort-les-Cascades</div>
        <div class="grpTableCel grpTableSmallCel">81</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Jean-d'Aigues-Vives</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">2</div><div class="grpTableSplitCel">235</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">T3 2020</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">T4 2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sautel</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">61</div><div class="grpTableSplitCel">12</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">T3 2020</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">T4 2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Soula</div>
        <div class="grpTableCel grpTableSmallCel">127</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Villeneuve-d'Olmes</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">596</div><div class="grpTableSplitCel">80</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">Juin 2018</div><div class="grpTableSplitCel">T2 2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T3 2019</div><div class="grpTableSplitCel">T4 2019</div></div>
    </div>
</div>
