<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableLargeCel">Travaux à partir de</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Aigues Juntes</div>
        <div class="grpTableCel grpTableSmallCel">43</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Aleu</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">253</div><div class="grpTableSplitCel">1</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2021-2023</div><div class="grpTableSplitCel">2024-258</div></div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Allières</div>
        <div class="grpTableCel grpTableSmallCel">42</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Alos</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">214</div><div class="grpTableSplitCel">1</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel">2024-2025</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Alzen</div>
        <div class="grpTableCel grpTableSmallCel">157</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Arabaux</div>
        <div class="grpTableCel grpTableSmallCel">42</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Aulus Les Bains</div>
        <div class="grpTableCel grpTableSmallCel">450</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">La Bastide de Sérou</div>
        <div class="grpTableCel grpTableSmallCel">701</div>
        <div class="grpTableCel grpTableLargeCel">Mai 2018</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Baulou</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">37</div><div class="grpTableSplitCel">108</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T1 2019</div><div class="grpTableSplitCel">Juin 2018</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2019</div><div class="grpTableSplitCel">T2 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Bénac</div>
        <div class="grpTableCel grpTableSmallCel">104</div>
        <div class="grpTableCel grpTableLargeCel">T4 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Biert</div>
        <div class="grpTableCel grpTableSmallCel">513</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Le Bosc</div>
        <div class="grpTableCel grpTableSmallCel">183</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Boussenac</div>
        <div class="grpTableCel grpTableSmallCel">488</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Brassac</div>
        <div class="grpTableCel grpTableSmallCel">488</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Buret</div>
        <div class="grpTableCel grpTableSmallCel">50</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cadarcet</div>
        <div class="grpTableCel grpTableSmallCel">161</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Calzan</div>
        <div class="grpTableCel grpTableSmallCel">24</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Castelnau-Durban</div>
        <div class="grpTableCel grpTableSmallCel">384</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cazaux</div>
        <div class="grpTableCel grpTableSmallCel">25</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Clermont</div>
        <div class="grpTableCel grpTableSmallCel">73</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cos</div>
        <div class="grpTableCel grpTableSmallCel">198</div>
        <div class="grpTableCel grpTableLargeCel">T4 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Couflens</div>
        <div class="grpTableCel grpTableSmallCel">267</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Coussa</div>
        <div class="grpTableCel grpTableSmallCel">129</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Crampagna</div>
        <div class="grpTableCel grpTableSmallCel">410</div>
        <div class="grpTableCel grpTableLargeCel">T1 2020</div>
        <div class="grpTableCel grpTableLargeCel">T2 2020 - T4 2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Dalou</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">381</div><div class="grpTableSplitCel">4</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T3 2020</div><div class="grpTableSplitCel">S2 2018</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T4 2020</div><div class="grpTableSplitCel">T2 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Durban-sur-Arize</div>
        <div class="grpTableCel grpTableSmallCel">156</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Encourtiech</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">11</div><div class="grpTableSplitCel">61</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2020</div><div class="grpTableSplitCel">2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T3 2020</div><div class="grpTableSplitCel">2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ercé</div>
        <div class="grpTableCel grpTableSmallCel">595</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Erp</div>
        <div class="grpTableCel grpTableSmallCel">127</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Esplas-de-Sérou</div>
        <div class="grpTableCel grpTableSmallCel">131</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ferrières-sur-Ariège</div>
        <div class="grpTableCel grpTableSmallCel">431</div>
        <div class="grpTableCel grpTableLargeCel">T3 2020</div>
        <div class="grpTableCel grpTableLargeCel">T4 2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ganac</div>
        <div class="grpTableCel grpTableSmallCel">508</div>
        <div class="grpTableCel grpTableLargeCel">T4 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Gudas</div>
        <div class="grpTableCel grpTableSmallCel">67</div>
        <div class="grpTableCel grpTableLargeCel">T3 2020</div>
        <div class="grpTableCel grpTableLargeCel">T4 2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">L'Herm</div>
        <div class="grpTableCel grpTableSmallCel">118</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lacourt</div>
        <div class="grpTableCel grpTableSmallCel">272</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Larbont</div>
        <div class="grpTableCel grpTableSmallCel">36</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lescure</div>
        <div class="grpTableCel grpTableSmallCel">290</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Loubens</div>
        <div class="grpTableCel grpTableSmallCel">149</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Loubières</div>
        <div class="grpTableCel grpTableSmallCel">159</div>
        <div class="grpTableCel grpTableLargeCel">T3 2020</div>
        <div class="grpTableCel grpTableLargeCel">T4 2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Malléon</div>
        <div class="grpTableCel grpTableSmallCel">44</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Massat</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">102</div><div class="grpTableSplitCel">1</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2021-2023</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montagagne</div>
        <div class="grpTableCel grpTableSmallCel">32</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montégut-Plantaurel</div>
        <div class="grpTableCel grpTableSmallCel">199</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montels</div>
        <div class="grpTableCel grpTableSmallCel">117</div>
        <div class="grpTableCel grpTableLargeCel">Mai 2018</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montgaillard</div>
        <div class="grpTableCel grpTableSmallCel">882</div>
        <div class="grpTableCel grpTableLargeCel">Mai 2018</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montseron</div>
        <div class="grpTableCel grpTableSmallCel">78</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Nescus</div>
        <div class="grpTableCel grpTableSmallCel">40</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Oust</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">404</div><div class="grpTableSplitCel">160</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Le Port</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">457</div><div class="grpTableSplitCel">2</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2021-2023</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Pradières</div>
        <div class="grpTableCel grpTableSmallCel">67</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Rimont</div>
        <div class="grpTableCel grpTableSmallCel">367</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Rivèrenet</div>
        <div class="grpTableCel grpTableSmallCel">260</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Félix-de-Rieutord</div>
        <div class="grpTableCel grpTableSmallCel">216</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Jean-de-Verges</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">696</div><div class="grpTableSplitCel">4</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T3 2019</div><div class="grpTableSplitCel">S2 2018</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T1 2020</div><div class="grpTableSplitCel">2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Martin-de-Caralp</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">2</div><div class="grpTableSplitCel">203</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T1 2019</div><div class="grpTableSplitCel">Mai 2018</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2019</div><div class="grpTableSplitCel">T1 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Pierre-de-Rivière</div>
        <div class="grpTableCel grpTableSmallCel">390</div>
        <div class="grpTableCel grpTableLargeCel">T4 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ségura</div>
        <div class="grpTableCel grpTableSmallCel">87</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Seix</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">17</div><div class="grpTableSplitCel">1045</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sentenac-d'Oust</div>
        <div class="grpTableCel grpTableSmallCel">240</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sentenac-de-Sérou</div>
        <div class="grpTableCel grpTableSmallCel">59</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Serres-sur-Arget</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">21</div><div class="grpTableSplitCel">602</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T1 2019</div><div class="grpTableSplitCel">Mai 2018</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2019</div><div class="grpTableSplitCel">T1 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Soueix-Rogalle</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">370</div><div class="grpTableSplitCel">127</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2024-2025</div></div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Soulan</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">330</div><div class="grpTableSplitCel">142</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2021-2023</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Suzan</div>
        <div class="grpTableCel grpTableSmallCel">Cf. LBS</div>
        <div class="grpTableCel grpTableLargeCel">Mai 2018</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ustou</div>
        <div class="grpTableCel grpTableSmallCel">1378</div>
        <div class="grpTableCel grpTableLargeCel">2024-2025</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Varilhes</div>
        <div class="grpTableCel grpTableSmallCel">1969</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
        <div class="grpTableCel grpTableLargeCel">T3 2019 - T4 2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Ventenac</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">1</div><div class="grpTableSplitCel">138</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T3 2020</div><div class="grpTableSplitCel">S2 2018</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T4 2020</div><div class="grpTableSplitCel">T2 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Vernajoul</div>
        <div class="grpTableCel grpTableSmallCel">347</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Verniolle</div>
        <div class="grpTableCel grpTableSmallCel">1117</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
        <div class="grpTableCel grpTableLargeCel">T4 2019 - T2 2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Vira</div>
        <div class="grpTableCel grpTableSmallCel">101</div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
</div>
