<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableSmallCel">Maître d'ouvrage</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Artix</div>
        <div class="grpTableCel grpTableSmallCel">59</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Brie</div>
        <div class="grpTableCel grpTableSmallCel">89</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Canté</div>
        <div class="grpTableCel grpTableSmallCel">115</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Justiniac</div>
        <div class="grpTableCel grpTableSmallCel">31</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Labatut</div>
        <div class="grpTableCel grpTableSmallCel">79</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lissac</div>
        <div class="grpTableCel grpTableSmallCel">120</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mazères</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">2080</div><div class="grpTableSplitCel">6</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T1 2019</div><div class="grpTableSplitCel">2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2019-T2 2020</div><div class="grpTableSplitCel">2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montaut</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">20</div><div class="grpTableSplitCel">301</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T1 2019</div><div class="grpTableSplitCel">2019</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2019</div><div class="grpTableSplitCel">2020</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Rieux de Pelleport</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">562</div><div class="grpTableSplitCel">4</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T4 2018</div><div class="grpTableSplitCel">S2 2018</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T2 2019</div><div class="grpTableSplitCel">T2 2019</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Bauzeil</div>
        <div class="grpTableCel grpTableSmallCel">34</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Jean-du-Falga</div>
        <div class="grpTableCel grpTableSmallCel">1431</div>
        <div class="grpTableCel grpTableLargeCel">T4 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Quirc</div>
        <div class="grpTableCel grpTableSmallCel">192</div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saverdun</div>
        <div class="grpTableCel grpTableSmallCel">2524</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Trémoulet</div>
        <div class="grpTableCel grpTableSmallCel">60</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
</div>
