<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableLargeCel">Travaux à partir de</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Artigat</div>
        <div class="grpTableCel grpTableSmallCel">337</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">La Bastide-de-Besplas</div>
        <div class="grpTableCel grpTableSmallCel">247</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Les Bordes-sur-Arize</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">3</div><div class="grpTableSplitCel">390</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2021-2023</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Camarade</div>
        <div class="grpTableCel grpTableSmallCel">114</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Campagne-sur-Arize</div>
        <div class="grpTableCel grpTableSmallCel">215</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Carla-Bayle</div>
        <div class="grpTableCel grpTableSmallCel">508</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Castéras</div>
        <div class="grpTableCel grpTableSmallCel">19</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Castex</div>
        <div class="grpTableCel grpTableSmallCel">66</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Daumazan-sur-Arize</div>
        <div class="grpTableCel grpTableSmallCel">652</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Durfort</div>
        <div class="grpTableCel grpTableSmallCel">69</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Fornex</div>
        <div class="grpTableCel grpTableSmallCel">67</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Le Fossat</div>
        <div class="grpTableCel grpTableSmallCel">630</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Gabre</div>
        <div class="grpTableCel grpTableSmallCel">81</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lanoux</div>
        <div class="grpTableCel grpTableSmallCel">35</div>
        <div class="grpTableCel grpTableLargeCel">Mai 2018</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lézat-sur-Lèze</div>
        <div class="grpTableCel grpTableSmallCel">1401</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Loubaut</div>
        <div class="grpTableCel grpTableSmallCel">16</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Le Mas d'Azil</div>
        <div class="grpTableCel grpTableSmallCel">927</div>
        <div class="grpTableCel grpTableLargeCel">S2 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Méras</div>
        <div class="grpTableCel grpTableSmallCel">47</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Monesple</div>
        <div class="grpTableCel grpTableSmallCel">21</div>
        <div class="grpTableCel grpTableLargeCel">Mai 2018</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montfa</div>
        <div class="grpTableCel grpTableSmallCel">41</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Pailhès</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">288</div><div class="grpTableSplitCel">17</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">Mai 2018</div><div class="grpTableSplitCel">2021-2023</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">T1 2019</div><div class="grpTableSplitCel">2021-2023</div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sabarat</div>
        <div class="grpTableCel grpTableSmallCel">251</div>
        <div class="grpTableCel grpTableLargeCel">Mai 2018</div>
        <div class="grpTableCel grpTableLargeCel">T1 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Ybars</div>
        <div class="grpTableCel grpTableSmallCel">411</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sieuras</div>
        <div class="grpTableCel grpTableSmallCel">52</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Thouars-sur-Arize</div>
        <div class="grpTableCel grpTableSmallCel">30</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Villeneuve du Latou</div>
        <div class="grpTableCel grpTableSmallCel">75</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sainte-Suzanne</div>
        <div class="grpTableCel grpTableSmallCel">141</div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
</div>
