<div id="miniHowItWork">
    <h1>Comment participer ?</h1>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniPost.png') }}">
        <h2>
            <b>Proposez vos idées</b>
            Et échangez avec nos animateurs.
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniNote.png') }}">
        <h2>
            <b>Notez</b>
            Approuvez les idées des autres utilisateurs.
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniComment.png') }}">
        <h2>
            <b>Commentez</b>
            Faites part de vos remarques en quelques mots.
        </h2>
    </div>
</div>
