Bonjour {{ user }},

Je suis Lionel Bouzonville, co-fondateur de Politizr.
POLITIZR propose un espace de démocratie continue: exprimez-vous sur des sujets de politique locale ou nationale et faites réagir vos concitoyen.ne.s et vos élu.e.s!

{% if user.qualified %}
Un des points fort de POLITIZR est de permettre de générer des discussions de fond sur des problématiques précises, pour permettre d’échanger sur des points de vue et avoir des retours sur des bonnes pratiques de la part d'élus de toute la France.

{% else %}

Grâce à POLITIZR, vous pourrez exprimer votre opinion sur les sujets de politique locale ou nationale qui vous semblent importants et obtenir des retours de vos élus et concitoyens.

{% endif %} 

Commencez dès aujourd'hui à vous <a href="{{ url('DebateDraftNew') }}">exprimer</a>!

Lionel Bouzonville
Co Fondateur @ Politizr
Ex-Conseiller Municipal de Foix (2007-2014)


PS : nous proposons des outils et services aux collectivités de toute taille pour leur permettre d’avoir des retours de leurs administré.e.s: merci de prendre <a href="mailto: support@politizr.com">contact avec nous</a> pour avoir plus d'informations !

{% include 'PolitizrFrontBundle:Email:_signature.txt.twig' %}
