Bonjour {{ user }},

Je suis {% if user.qualified %}Lionel Bouzonville{% else %}Thomas Champion{% endif %}, co-fondateur de Politizr.
POLITIZR propose un espace de démocratie continue: exprimez-vous sur des sujets de politique locale ou nationale et faites réagir vos concitoyen.ne.s et vos élu.e.s!

{% if user.qualified %}
Un des points fort de POLITIZR est de permettre de générer des discussions de fond sur des problématiques précises, pour permettre d’échanger sur des points de vue et avoir des retours sur des bonnes pratiques de la part d'élus de toute la France.

En complément, nous proposons désormais aux collectivités, de tout type et de toute taille, un service intégré à POLITIZR pour leur permettre d’avoir des retours de leurs administrés: merci de prendre contact avec nous pour avoir plus d'informations !

{% else %}

Grâce à POLITIZR, vous pourrez exprimer votre opinion sur les sujets de politique locale ou nationale qui vous semblent importants et obtenir des retours de vos élus et concitoyens.

{% endif %} 

Commencez dès aujourd'hui à vous <a href="{{ url('DebateDraftNew') }}">exprimer</a>!

{% if user.qualified %}
Lionel Bouzonville
Co Fondateur @ Politizr
Ex-Conseiller Municipal de Foix (2007-2014)
{% else %}
Thomas Champion
Co Fondateur @ Politizr
{% endif %} 

{% include 'PolitizrFrontBundle:Email:_signature.txt.twig' %}
