{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}Politizr{% endblock title %}
{% block description %}Politizr{% endblock description %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUserError.css') }}">
{% endblock %}

{% block javascriptHeader %}
{% endblock %}

{% block body %}
    <body>
        {% include 'PolitizrFrontBundle:Navigation\\Social:_analytics.html.twig' %}
        {% block main %}
        {% endblock main %}

        {% block javascriptFooter %}
            {{ parent() }}

            <script>
                $(function() {
                    $('#ajaxGlobalLoader').hide();
                });
            </script>
        {% endblock javascriptFooter %}
    </body>
{% endblock body %}
