<div id="blockMarianne">
    <div class="center">
        <div id="bgBlockMarianne">
            <div id="marianne"></div>
            <div class="conceptCol conceptLeftCol">
                Politizr est un acteur neutre et indépendant de la <b>CivicTech</b> qui propose un <b>espace national de dialogue gratuit</b> entre <b>citoyen.ne.s</b>, <b>élu.e.s</b> et <b>collectivités</b> et des <b>services complémentaires</b> à destination des candidat.e.s et des collectivités.<br/>
            </div>            
            <div class="conceptCol conceptRightCol">
                <b>Notre mission</b> consiste à renouer la <b>confiance entre citoyen.ne.s, élu.e.s et collectivités</b> en favorisant des <b>échanges constructifs</b>, basés sur la <b>transparence</b> et le <b>respect</b>.
            </div>
        </div>
    </div>
</div>
