<div id="blockMarianne">
    <div class="center">
        <div id="bgBlockMarianne">
            <div id="marianne"></div>
            <div class="conceptCol conceptLeftCol">
                Politizr est un acteur français de la <b>Civic Tech</b>, neutre et indépendant, qui propose un <b>service gratuit</b> et sans publicité d'échanges entre les <b>citoyen.ne.s</b> et leurs <b>représentant.e.s</b> partout en France.<br/>
            </div>            
            <div class="conceptCol conceptRightCol">
                <b>Notre mission</b> consiste à renouer la <b>confiance entre citoyen.ne.s, élu.e.s et collectivités</b> en favorisant des <b>échanges constructifs</b>, basés sur la <b>transparence</b> et le <b>respect</b>.
            </div>
        </div>
    </div>
</div>
