 <div class="lpRightCol">
     <h3>Vous êtes un citoyen désireux d'une nouvelle politique?</h3>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Exprimez votre opinion sur des sujets de politique locale ou nationale.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Échangez directement avec vos élu.e.s et vos concitoyen.ne.s.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Commentez et notez toutes les discussions ouvertes.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant vos centres d'intérêt.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez aux publications de votre région et partout en France.</p></div>
     <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Suivez l'activité Facebook de vos publications et démultipliez votre impact.</p></div>
     <br/>
     <h3>Vous êtes un élu en lien avec vos concitoyens?</h3>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Expliquez vos actions à vos concitoyen.ne.s.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Répondez aux questions et aux opinions de vos concitoyen.ne.s.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Faites profiter d'autres élu.e.s de vos retours d'expérience.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant l'actualité et vos centres d'intérêt.</p></div>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez aux publications de votre région et partout en France.</p></div>
     <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Suivez l'activité Facebook de vos publications et démultipliez votre impact.</p></div>
     <h3>Vous êtes une collectivité?</h3>
     <div class="lpCheckLi"><i class="icon-check"></i><p>Découvrez <a href="https://www.politizr.com/lp/offres-collectivites">nos offres pour les collectivités</a>, conçues spécialement pour renforcer la démocratie locale sur votre territoire.</p></div>
     <h3>&nbsp;</h3>
 </div>
