<div class="card">
    <h1>citoyen</h1>
    <h2>100% gratuit<br/><br/></h2>
    <ul class="checkList">
        <li>Discutez directement avec vos élu-e-s.</li>
        <li>Participer à des échanges suivant vos centres d'intérêt.</li>
        <li>Constater l'impact Facebook de vos publications sur votre territoire.</li>
        <li>Accéder à l'ensemble des publications au niveau local et national.</li>
    </ul>
    <a href="{{ path('Inscription') }}" class="submit nextStepOrange">Créer un compte</a>
</div>
