<div class="card">
    <h1>citoyen</h1>
    <h2>100% gratuit<br/><br/></h2>
    <ul class="checkList">
        <li>Exprimez <b>votre opinion</b> sur des sujets de <b>politique locale ou nationale</b>.</li>
        <li>Échangez <b>directement</b> avec vos <b>élu.e.s</b> et vos <b>concitoyen.ne.s</b>.</li>
        <li><b>Commentez et notez</b> toutes les discussions ouvertes.</li>
        <li>Participez à des échanges suivant vos <b>centres d'intérêt</b>.</li>
        <li>Accédez aux publications de <b>votre région</b> et <b>partout en France</b>.</li>
        <li><i class="icon-social-fb"></i>&nbsp;Suivez l'activité Facebook de vos publications et <b>démultipliez votre impact</b>.</li>
    </ul>
    <a href="{{ path('Inscription') }}" class="submit nextStepOrange">Inscription</a>
</div>
